/*CSS reset settings here*/
* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 740px;
    background-color: #D5D2AE;
    margin: 0px auto;
    padding: 10px;
}

h1 {
    font-size: 40px;
    text-align: center;
}



img {
    display: inline-block;
    width: 180px;
}


